<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css">
    <title>MemoApp</title>
</head>
<body>
    <div class="column">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title"><a href="/memos">MemoApp</a></h1>
                <%= yield %>
            </div>
        </div>
    </div>
</body>
</html>
