<form action="/memos" method="post" name="new" class="box">
<div class="field">
    <label for="title" class="label">タイトル</label>
    <div class="control"><textarea type="title" id="title" name="title"></textarea></div>
</div>
<div class="field">
    <label for="content" class="label">内容</label>
    <div class="control"><textarea id="content" name="content" class="textarea"></textarea></div>
</div>
<div class="buttons is-centered">
    <input type="submit" value="保存" class="button is-primary">
</div>
</form>
